body { 
    display: flex;
    background-color: rgb(245, 243, 242);
    color: rgb(15, 15, 15);
    font-size: medium;
    font-family: 'Dosis', sans-serif;
    
}
body > div {
    margin-bottom: 40px;
}

.new-fon, .contact-info{
    background-color: rgba(233, 224, 224, 0.966);
}
h1{
    text-align: center;
}
h3{
    text-align: left;
    margin-bottom: 4px;
}
p{
    margin-top: 8px;
}
.contact-info li{
    text-decoration: double;
}
.info{
    color: blue;
    font-family: 'Dosis', sans-serif;
}

.my-photo {
    margin-left: 20px;
}

.my-photo img {
    width: 311px;
    height: 414px;
}



